# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output
build/*

# Wifi Cred
wifi_secret.sh
python/mac_secret.py

# KiCAD
pcb/dancing_duck/dancing_duck-backups/*
*.lck

# Python
__pycache__/

# InfluxDB Token List
server/tokens.conf
